* {
  color: #000;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  scrollbar-color: black;
  scrollbar-width: thin;
}

/* For Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #2fb2a2;
  border-radius: 20px;
  border: 2px solid black;
}

body {
  font-size: 16px;
  font-weight: bold;
  background-color: #fff7e6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* NAV */

header {
  background-image: url("heder.jpg");
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  color: white;
  display: flex;
}

.msid {
  width: 110px;
}

.logo {
  max-width: 30vw;
  height: 100%;
  padding: 1rem;
}

.nmenu {
  display: block;
}

.nmenu a {
  color: black;
  font-size: 1rem;
  justify-content: end;
}

.navbar {
  display: none;
}

/* NAV END */

/* Title H1 */
.title {
  text-align: center;
}

.title h1 {
  transition: all 0.8s ease;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: normal;
  margin: 0;
}

.title br {
  display: none;
}

/* H1 end */

/* VIDEO */

.video-container {
  background-color: black;
  width: 100%;
  height: 80vh;
}

#video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 80%;
  min-height: 80%;
  width: auto;
  height: auto;

  transform: translate(-50%, -50%);
  opacity: 0.8;
}

/* Video END */

/* Immagini su video */

.imv {
  position: absolute;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  justify-items: center;
  align-items: center;
  width: 25%;
  height: auto;
  padding-left: 5rem;
  padding-top: 1rem;
}

.glog {
  justify-content: center;
}

.glog img {
  max-width: 70%;
  height: auto;
}

.plog {
  max-width: 100%;
  background-color: white;
  overflow: hidden;
}

.plog img {
  width: 100%;
  padding-top: 1rem;
}
.p {
  padding-top: 1rem;
}

.platav {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platav h5 {
  font-size: 1.4rem;
}

.logav {
  display: flex;
  justify-content: space-around;
  padding-left: 5vw;
}

.logav img {
  width: 6vw;
}

/* Immagini su video end */

/* Missione */

#missione {
  text-align: center;

  padding-left: 5%;
  padding-right: 5%;
}

#missione h2 {
  transition: all 0.8s ease;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: normal;
}

.cmiss {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#missione p {
  padding-left: 10%;
  padding-right: 10%;
}
.genp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#missione img {
  padding-top: 1rem;
  width: 35vw;
}

/* Missione end */
hr {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f0f0f0;
  margin: 20px 0;
}

/* chi dove */

.cdcont {
  display: flex;
}

#chi,
#dove {
  flex: 1 1 50%;
  padding-left: 10%;
  padding-right: 5%;
}

#chi {
  border-right: 1px solid #ccc;
}

.txtmp p {
  padding-top: 1rem;
}

.carchi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carchi img {
  width: 20vw;
}

#chi p {
  padding-top: 1rem;
  padding-right: 1rem;
  width: 16vw;
}

iframe {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 450px;
  height: 300px;
}

/* Chi Dove fine */

/* Caricature */

.caricature,
iframe {
  display: flex;
  justify-content: center;
}

.caricature img {
  width: 90vw;
}

/* Caricature fine */

/* Servizi */

#servizi {
  text-align: center;
}

#servizi h2 {
  transition: all 0.8s ease;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: normal;
}

.carser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10% 0 10%;
}

.cs h5 {
  padding: 1rem;
}

.cs p {
  font-size: 0.8rem;
  padding: 1rem;
}

.cs img {
  width: 25vw;
}

/* Servizi fine */

/* Contact Form */
.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: #fcf6eb;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #2fb2a2;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: black;
}
/* Contact form end */

/* FOOTER */

footer {
  background-color: #2fb2a2;
  background-image: url("heder.jpg");
  background-size: 150% 130%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
}

.dline {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#partners {
  display: block;
  padding: 1rem 0 1rem 0;
}

#partners h5 {
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.pt {
  justify-content: center;
}

#partners img {
  max-width: 10vw;
}

/* FOOTER end */

@media only screen and (max-width: 480px) {
  /* NAV */
  header {
    background-image: url("heder.jpg");
    background-size: 140vw auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
  }

  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  .nmenu {
    display: block;
  }

  .nmenu a {
    display: block;
    text-align: end;
    transition: all 0.3s ease;
    color: white;
    font-size: 0.8rem;
  }
  .msid {
    display: none;
  }
  .logo {
    max-width: 60vw;
    height: 100%;
  }

  .nmenu {
    display: block;
    margin-right: 10px;
  }

  .nmenu a:hover {
    background-color: #000;
  }

  .nmenu i {
    margin-right: 5px;
  }

  /* NAV END */

  /* Title H1 */
  .title {
    text-align: center;
  }

  .title h1 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: normal;
  }

  .title br {
    display: flex;
  }

  /* H1 end */

  /* VIDEO */

  .video-container {
    background-color: black;
    width: 100%;
    height: 27vh;
  }

  #video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 40%;
    min-height: 40%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }

  .imv {
    left: -3rem;
  }

  .glog img {
    max-width: 90%;
    height: auto;
  }

  .plog {
    max-width: 100%;
    background-color: white;
    overflow: hidden;
  }

  .plog img {
    width: 100%;
    padding-top: 1rem;
  }
  .platav {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .platav h5 {
    font-size: 1rem;
  }

  .logav {
    display: flex;
    justify-content: space-around;
  }

  .logav img {
    width: 10vw;
    padding: 0.5rem;
  }

  /* Video END */

  /* Missione */

  #missione {
    text-align: center;
  }

  #missione h2 {
    transition: all 0.8s ease;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: normal;
  }

  .cmiss {
    display: list-item;
  }

  #missione p {
    /* word-spacing: 1rem; */
    text-align: start;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #missione img {
    padding-top: 1rem;
    width: 75vw;
  }

  /* Missione end */

  /* chi dove */

  .cdcont {
    display: grid;
  }

  #chi,
  #dove {
    padding: 1rem;
  }

  #chi > p {
    text-align: start;
  }
  .txtmp p {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .carchi {
    display: block;
  }

  .carimg {
    display: flex;
    justify-content: center;
  }
  .carchi img {
    width: 80vw;
  }

  #chi p {
    padding: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;

    width: 80vw;
  }

  .map {
    display: grid;
    justify-content: center;
  }

  iframe {
    margin-top: 1rem;
    width: 80vw;
    height: auto;
  }

  /* Chi Dove fine */

  /* Caricature */
  .caricature,
  .non {
    display: none;
  }

  /* Caricature fine */

  /* Servizi */

  #servizi {
    text-align: center;
  }

  #servizi h2 {
    transition: all 0.8s ease;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: normal;
  }

  .carser {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 10% 0 10%;
  }

  .cs h5 {
    padding: 1rem;
  }

  .cs p {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .cs img {
    width: 50vw;
  }

  /* Servizi fine */

  /* Footer */
  footer {
    background-color: #2fb2a2;
    background-image: url("heder.jpg");
    background-size: 160% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
  }

  #partners {
    display: block;
    padding: 0.5rem 0 0.5rem 0;
  }

  #partners h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }

  .pt {
    justify-content: center;
  }

  #partners img {
    max-width: 30vw;
  }

  .dline {
    display: block;
  }

  /* Footer end */
}
